main {
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Banner {
  font-size: 25px;
  color: rgba(88, 87, 87, 0.767);
  padding: 12px;
  margin: 12px;
  font-size: 36px;
  text-shadow: 0.5px 0.5px;
}


.subJudul {
  color: rgba(88, 87, 87, 0.767);
  margin: 10px;
  text-align: center;
  font-size: 36px;
  text-shadow: 0.5px 0.5px;
  margin-top: 10px;
}

.desc {
  margin: 20px;
  max-width: 60%;
  font-size: 20px;
  text-shadow: 0.5px 0.5px;
}

section.about {
  background-image: url('kertas.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-evenly;
  height: auto;
  margin: 10px;
  padding: 10px;
}

section.about article {
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: rgba(88, 87, 87, 0.767);
  text-shadow: 0.5px 0.5px;
}





/* Media Queries */
@media screen and (max-width: 768px) {
 

  section.about {
    padding: 10px;
  }

  section.about article, .Banner {
    text-align: center;
  }

}

@media(max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

@media(max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}