

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}



body {
  min-height: 100vh;

  background-color: #333333;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  background: rgb(106,105,105);
background: linear-gradient(90deg, rgba(106,105,105,1) 0%, rgba(161,161,161,1) 51%, rgba(118,117,117,1) 100%);
}

nav {
  background: url("foodBanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(50px);
  width: 100%;
  align-items: center;
  position: relative;
  z-index: 100;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  height: 15vh;

}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  height: 5vh;
  text-shadow: 0 5px 10px #0004;
}

h1 {
  padding: 10px;
  padding-left: 25px;
  padding-top: 15px;
  height: 5vh;
  color: aliceblue;
  display: flex;
  justify-content: flex-start;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  align-items: center;
  text-shadow: 0 5px 10px #0004;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 25px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(253, 247, 247);
  text-shadow: 0 5px 10px #0004;
  font-weight: 600;
  margin-right: 15px;
  margin-bottom: 12px;
}

nav a:hover {
  background-color: #333333;
  color: aliceblue;
  transition: .2s ease-in-out;
  transition-delay: .01s;
  border-radius: 10px;
  /* margin-left: 2px;
    margin-right: 2px; */


}

.sidebar {
  position: fixed;
  top: 15vh;
  left: 0;
  height: 100vh;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}



.sidebar li {
  width: 75%;
  margin-left: 5px;
  margin-top: 5px;
}

.sidebar a {
  width: 100%;

}

.menu-button {
  left: 0;
  margin-left: 5px;
  display: none;
  justify-content: flex-start;
}

.mySlides {
  display: none;
  height: 90vh;
  align-items: center;
}

img {
  vertical-align: middle;
  height: 90vh;
  justify-content: center;
}

.content {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  
  left: 25%;
  right: 25%;
  text-shadow: 0.5px 0.5px;;
  max-width: 100%;
  text-align: center;
  justify-content: center;
  bottom: 7%;
  
}

.title {
  margin: 10px;
  margin-bottom: 1px;
  font-size: 46px;
  font-weight: 800;
}

.topic {

  margin: 10px;
  font-size: 46px;
  font-weight: 800;
  color: #FF0000;

}

.des {
  padding: 20px;
  margin: 5px;
}


.buttons {
  display: flex;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
  justify-content: center;
  
}

.buttons button {
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 5px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #303030;
  
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: white;
  color: #303030;
}




.active{
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

footer {
  background: rgb(15, 15, 15);
  background: linear-gradient(90deg, rgba(15, 15, 15, 1) 2%, rgba(50, 50, 50, 1) 50%, rgba(18, 18, 18, 1) 100%);
  color: #f3ecec;
  padding: 20px 0;
  text-align: center;
  bottom: 0;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}


footer .social-media {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

footer .social-media a img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

footer .contact-info p {
  margin: 5px 0;
  text-shadow: 0.5px 0.5px;
}

@media only screen and (max-width: 300px) {
  .prev, .next, .text, img {
    font-size: 11px
  }

  @media only screen and (max-width: 500px) {
    .prev, .next, .text, img {
      font-size: 14px
    }
  }
}

@media(max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

@media(max-width: 400px) {
  .sidebar, footer {
    width: 100%;
  }

}

@media (max-width: 300px) {
  .prev, .next, .text, img {
    font-size: 11px;
  }



  .content, .mySlides {
    width: 100%;
    padding-right: 5%;
    font-size: 11px;
    height: 60%;
  }

}